services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: sentinel_db
      POSTGRES_USER: prash
      POSTGRES_PASSWORD: 4444

  redis:
    image: redis:7

  fastapi:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis

  celery:
    build: .
    command: celery -A app.celery_worker worker --loglevel=info
    depends_on:
      - redis

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - fastapi
