version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: prash
      POSTGRES_PASSWORD: 4444
      POSTGRES_DB: sentinelstream
    ports:
      - "5432:5432"
